<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link href="#" rel="shortcut icon">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js">   </script>
	 
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  	
  	<link th:href="@{/css/main.css}" rel="stylesheet">
  	
  	<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js" ></script>
  	<link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet"/>
  	
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css"  />
  
  
<title>View Asset Type</title>

<script>

	$(document).ready(function(){
		
		$('#assettable').DataTable();
		
	});
</script>

</head>
<body>
		
	<div th:include="fragments/header.html :: header">
	</div>	
		
	<div class="container">
		
		<div th:if="${response}">
			<h6 class="alert alert-success" th:text="${response}"></h6>
		</div>
		
		<div th:if="${reserr}">
			<h6 class="alert alert-danger" th:text="${reserr}"></h6>
		</div>
		
		<div>
			<h4>Asset Type List
				<a th:href="@{/addassettype}" style="float:right;" class="btn btn-primary mb-3">Add Asset Type</a>
			</h4>
		</div>
		<table class="table table-striped table-hover" id="assettable">
		    <thead>
                   <tr>
                       <th>Sr</th>
                       <th>Asset Type</th>
                       <th>Edit</th>
                   </tr>
               </thead>
               <tbody>
                   <tr th:each="comp : ${aslist}">
                       <td th:text="${comp.type_id}"></td>
                       <td th:text="${comp.type_name}"></td>
                       <td><a th:href="@{/editassettype/{id}(id=${comp.type_id})}" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a></td>
                   </tr>
               </tbody>
		</table>
	</div>
		
</body>
</html>